.one{
	padding-left: 10px;
	
}

h1{
	font-family: montserrat;
	font-size: 40px;
	font-weight: bold;
	color: green;
}

.navbar{
	background-color: green;
    border-radius: 10px; 
    margin: 5px; 
    /*margin-bottom: 5px;*/
    height: 80px;   
    }

.navbar ul{
    overflow: all;
    }

.navbar li{
    float: left;
    list-style: none; 
    margin: 13px 20px;
    font-family: montserrat;
    font-size: 25px;
    font-weight: bold;
    color: white;
    align-content: center;        
    }

.navbar li:hover{
    color: black;
    cursor: pointer;
    }

.fixed{
    
    height: 170vh;
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 5px;
    color: black;
}

.form{
    padding: 100px 200px 100px 200px;
    font-size: 25px;
    font-weight: bolder;
}

button{
    position: relative;
    background-color: white;
    left: 40%;
    font-size: 30px; 
    color: black;
    font-weight: bold;
    width: 200px;
}

.footer{
    height: 200px;
    background-color: green;
    color: white;
    /*margin-bottom: 50px;*/
}
.office{
    width: 300px;
    height: 200px;
    margin-left: 170px;
    margin-right: 20px;
    /*background-color: black;*/
}
.newsletter{
    width: 300px;
    height: 200px;
    margin-right: 20px;
    /*background-color: blue;*/
}
.implinks{
    width: 300px;
    height: 200px;
    margin-right: 20px;
    /*background-color: red;*/
}
.footer h5{
    /*text-align: center;*/
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
}